/* header */
body{
    font-family: 'Open Sans Condensed';
}
header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 0 10% 0 10%;
}
header img{
    height: 70px;
}
header section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.header_link {
    padding: 15px 25px 15px 25px;
    border-radius: 2px;
    color: white;
}
.header_link:visited {
    color: white;
}
.link_events {
    background-color: #db322b;
}
.link_download {
    background-color: #384b5a;
}
.link_apply {
    background-color: #9db5c7;
}

.button_language {
    padding: 5px 10px 5px 10px;
    border: solid 1px;
}

/* main */
/* part1 */
.part1 {
    position: relative;
    color: #384b5a;
    background-image: url('../images/IUM_HERO.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 10% 0 10%;
    height: 90vh;
}
main img{
    left: -10%;
    position: absolute;
    width: 120%;
    z-index: -1;
}
.description{
    background-color: white;
    width: 40%;
    padding: 40px 50px 40px 50px;
    border-left: solid 8px #db322b;

    position: absolute;
    bottom: 0;
}
.description p{
    line-height: 30px;
}
.description h2{
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 25px;
}

/* part2 */
.form {
    background-color: white;
    width: 30%;
    height: 80%;
    padding: 20px 30px 20px 30px;

    position: absolute;
    bottom: 55%;
    right: 25%;
    transform: translate(50%, 50%);
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.form h2 {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 25px;
}
.form label {
    font-weight: bold;
}
.form label span{
    color: #db322b;
}
.form input, .form select {
    border: none;
    border-bottom: solid 2px #384b5a;
}

#submit {
    padding: 15px 25px 15px 25px;
    border-radius: 2px;
    color: white;
    background-color: #384b5a;
    border: none;
    font-size: 15px;
    width: 35%;
    align-self: center;
}
.concent_section {
    display: flex;
    align-content: flex-start;
}
.concent_section input {
  align-self: flex-start;
  margin-right: 5px;
  height: 35px;
  width: 35px;
}

.use {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.use a {
    font-weight: bold;
    text-decoration: underline #384b5a;
}